
cron-expression-input .cronInput {
  height: 34px !important;
  position: relative !important;
}

cron-expression-input .cronInput input[type="text"] {
  width: 98% !important;
  box-shadow: none !important;
  padding-left: 10px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border: 1px #ccc solid !important;
}

cron-expression-input .cronInput button {
  position: absolute !important;
  right: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  z-index: 2 !important;
}

cron-expression-input .cronInput input {
  line-height: normal !important;
}

cron-expression-input * {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

cron-expression-input button,
cron-expression-input input,
cron-expression-input select {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

cron-expression-input label {
  display: inline-block !important;
  max-width: 100% !important;
  margin-bottom: 5px !important;
}

cron-expression-input input[type="checkbox"],
cron-expression-input input[type="radio"] {
  margin: 4px 0 0 !important;
  line-height: normal !important;
}

cron-expression-input input[type="checkbox"]:focus,
cron-expression-input input[type="radio"]:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
}

cron-expression-input .form-control {
  display: block !important;
  width: 100% !important;
  height: 34px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s !important;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

cron-expression-input .form-control:focus {
  border-color: #66afe9 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6) !important;
}

cron-expression-input .form-group {
  margin-bottom: 15px !important;
}



cron-expression-input .btn:focus,
cron-expression-input .btn:hover {
  color: #333 !important;
  text-decoration: none !important;
}

cron-expression-input .btn:active {
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

cron-expression-input .btn-custom {
  color: #fff !important;
  border: 1px #ccc solid !important;
  background-color: #d58512 !important;
  border-color: #d99129 !important;
}

cron-expression-input .btn-custom:focus {
  color: #fff !important;
  background-color: #d99129 !important;
  border: 1px #ccc solid !important;
  outline: 0 !important;
}

cron-expression-input .btn-custom:hover {
  color: #fff !important;
  background-color: #d99129 !important;
  border-color: #d99129 !important;
}

cron-expression-input .btn-custom:active {
  color: #fff !important;
  border: 1px #ccc solid !important;
  background-color: #d99129 !important;
  border-color: #d99129 !important;
  outline: 0 !important;
}

cron-expression-input .btn-custom:active:focus,
cron-expression-input .btn-custom:active:hover {
  color: #fff !important;
  background-color: #d99129 !important;
  border-color: #ccc !important;
}

cron-expression-input .btn-custom:active {
  background-image: none !important;
}

cron-expression-input .fade {
  opacity: 0 !important;
  -webkit-transition: opacity 0.15s linear !important;
  -o-transition: opacity 0.15s linear !important;
  transition: opacity 0.15s linear !important;
}

cron-expression-input .panel {
  margin-bottom: 20px !important;
  background-color: #fff !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}

cron-expression-input .panel-body {
  padding: 15px !important;
}

cron-expression-input .panel-heading {
  padding: 10px 15px !important;
  border-bottom: 1px solid transparent !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

cron-expression-input .panel-default {
  border-color: #ddd !important;
}

cron-expression-input .panel-default > .panel-heading {
  color: #333 !important;
  background-color: #f5f5f5 !important;
  border-color: #ddd !important;
}

cron-expression-input .close2 {
  float: right !important;
  font-size: 21px !important;
  font-weight: 700 !important;
  line-height: 1 !important;
}

cron-expression-input .close2:focus,
cron-expression-input .close2:hover {
  color: #000 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  opacity: 0.5 !important;
}




cron-expression-input .show {
  display: block !important;
}

cron-expression-input input[type="radio"] {
  position: relative !important;
  top: -2.52px !important;
}

cron-expression-input input[type="radio"] {
  appearance: none !important;
  display: block !important;
  width: 1em !important;
  height: 1em !important;
  border-radius: 50% !important;
  border: 0.1em solid #d99129 !important;
}

cron-expression-input input[type="radio"]:after {
  appearance: radio !important;
  display: block !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px !important;
  top: -2px !important;
  left: -1px !important;
  position: relative !important;
  background-color: #d1d3d1 !important;
  display: inline-block !important;
  visibility: visible !important;
  border: 2px solid white !important;
  position: absolute !important;
  top: 2px !important;
  left: 1.8px !important;
}

cron-expression-input input[type="radio"]:checked:after {
  appearance: radio !important;
  border: 2px solid white !important;
  display: block !important;
  width: 11px !important;
  height: 11px !important;
  border-radius: 10px !important;
  top: -3px !important;
  left: 2px !important;
  position: relative !important;
  background-color: #d99129 !important;
  content: "" !important;
  display: inline-block !important;
  visibility: visible !important;
  border: none !important;
  position: absolute !important;
  top: 1px !important;
  left: 1px !important;
}

cron-expression-input input[type="checkbox"]:focus,
cron-expression-input input[type="radio"]:focus,
cron-expression-input .cronInsideInput:focus,
cron-expression-input .btn-custom:active {
  outline: none !important;
}

cron-expression-input span {
  position: relative !important;
  z-index: 2 !important;
}

cron-expression-input .container {
  display: block !important;
  position: relative !important;
  padding-left: 21px !important;
  margin-bottom: 12px !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

cron-expression-input .container input {
  position: absolute !important;
  opacity: 0 !important;
  cursor: pointer !important;
  height: 0 !important;
  width: 0 !important;
}

cron-expression-input .checkmark {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 14.5px !important;
  width: 14.5px !important;
  background-color: #eee !important;
}

cron-expression-input .container:hover input ~ .checkmark {
  background-color: #ccc !important;
}

cron-expression-input .container input:checked ~ .checkmark {
  background-color: #d99129 !important;
}

cron-expression-input .checkmark:after {
  content: "" !important;
  position: absolute !important;
  display: none !important;
}

cron-expression-input .container .numberValue {
  position: relative !important;
  top: -2px !important;
}

cron-expression-input .container input:checked ~ .checkmark:after {
  display: block !important;
}

cron-expression-input .container .checkmark:after {
  left: 3px !important;
  top: 6px !important;
  width: 6px !important;
  height: 0px !important;
  border: solid white !important;
  border-width: 0 3px 3px 0 !important;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}
